atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
greenlet==1.0.0
iniconfig==1.1.1
numpy==1.20.3
packaging==20.9
pandas==1.2.4
playwright==1.10.0
pluggy==0.13.1
py==1.10.0
pyee==8.1.0
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
pytz==2021.1
six==1.16.0
toml==0.10.2
