atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
greenlet==1.0.0
idna==2.10
iniconfig==1.1.1
lxml==4.6.3
packaging==20.9
playwright==1.10.0
pluggy==0.13.1
py==1.10.0
pyee==8.1.0
pyparsing==2.4.7
pytest==6.2.2
requests==2.25.1
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.4
